
/*--------------------------------------------------------------------
		Header // Footer
--------------------------------------------------------------------*/
#header { 
	width: 100%; 
	display: block; 
	position: fixed; 
	z-index: 9999; /*Use with cause*/
	left: 0; 
	top:0;
	height: 50px;
	background-color: rgba(255,255,255,.8); 
}

#logo {
	display: block;
	text-align: center;
	padding: 10px 0 0;
}

#logo > img { 
	display: inline;
}


/*--------------------------------------------------------------------
		Layout
--------------------------------------------------------------------*/
body {
	background-color: #000;
}

#content {
	width: 50%;
	margin: 0 auto;
	padding: 10% 0;
	text-align: center;
	color: #FFF;
}

#content p {
	color: #FFF;
	font-size: 14px;
	line-height: 24px;
}

#content img {
	max-width: 100%;
}

/*--------------------------------------------------------------------
		Custom Spinner
--------------------------------------------------------------------*/

.example {
	position: fixed;
	bottom:2%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #000;
	text-decoration: underline;
	font-weight: bold;
	font-size: 11px;
}

.example > button {
	display: block;
	position: relative;
	width: 120px;
	margin: 15px auto;
	padding: 2px 0;
}

.site-preloader { 
	position: fixed; 
	left: 0; 
	top:0;
	width: 100%; 
	height: 100%; 
	min-height: 100%;
	background-color: rgba(255,255,255,.9); /*Change to 1 if you want to not show the content in the background */ 
	z-index: 5; /*Use with cause*/
	display: block;
}

.site-preloader .icon-spinner { 
	width: 130px;
	height: 130px;
	position: relative;
	top:50%;
	margin: -65px auto 0;
	background-color: #ad2e2a;
	display: block;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	border: 5px solid #991c20;
	
	/* Fade Up animation - Delete if you don't like */
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    
    -webkit-animation-direction: alternate;
  	animation-direction: alternate;
  	
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.site-preloader .icon-spinner .text { 
	font-size: 11px; 
	font-style: normal;
	color: #FFF; 
	font-weight: 700; 
	line-height: 10px; 
	display: block; 
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 22px; 
	text-transform: uppercase;
	padding-left: 2px;
}

.site-preloader .icon-spinner .text span {
	font-style: normal;
	font-size: 12px;
	
	/*Dots animation*/
	-webkit-animation:dots 0.8s ease-in-out infinite;
    animation:dots 0.8s ease-in-out infinite;
}

.site-preloader .icon-spinner .text .dot-1 { -webkit-animation-delay:0.2s; animation-delay:0.2s; }
.site-preloader .icon-spinner .text .dot-2 { -webkit-animation-delay:0.4s; animation-delay:0.4s; }
.site-preloader .icon-spinner .text .dot-3 { -webkit-animation-delay:0.6s; animation-delay:0.6s; }

.icon-spinner .spinner-animation {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -32px;
	display: inline-block;
	color: #FFF;
	
	-webkit-animation: icondelay 7.2s infinite ease-in-out;
    animation: icondelay 7.2s infinite ease-in-out;
    
    /* Flickering fix on init */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Icon Animation Delay */
.icon-spinner .icon-delay-1 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s;}
.icon-spinner .icon-delay-2 { -webkit-animation-delay: -7.2s; animation-delay: -7.2s;}
.icon-spinner .icon-delay-3 { -webkit-animation-delay: -6.3s; animation-delay: -6.3s;}
.icon-spinner .icon-delay-4 { -webkit-animation-delay: -5.4s; animation-delay: -5.4s;}
.icon-spinner .icon-delay-5 { -webkit-animation-delay: -4.5s; animation-delay: -4.5s;}
.icon-spinner .icon-delay-6 { -webkit-animation-delay: -3.6s; animation-delay: -3.6s;}
.icon-spinner .icon-delay-7 { -webkit-animation-delay: -2.7s; animation-delay: -2.7s;}
.icon-spinner .icon-delay-8 { -webkit-animation-delay: -1.8s; animation-delay: -1.8s;}



/*--------------------------------------------------------------------
		@KEYFRAMES
--------------------------------------------------------------------*/

/*  Animation Delay Keyframes for font-icons */
@-webkit-keyframes icondelay {
  0%   { opacity: 0; }
  22%  { opacity: 1; }
  25%  { opacity: 0; }
  100% { opacity: 0; } 
}

@keyframes icondelay {
  0%   { opacity: 0; }
  22%  { opacity: 1; }
  25%  { opacity: 0; }
  100% { opacity: 0; } 
  
}

/*  FadeIn Spinner - Remove if you don't like it */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/*  Dots - Remove if you don't like it */
@-webkit-keyframes dots {
        0%   { opacity: 1; }
        50%  { opacity: 0.4;}
        100% { opacity: 1; }
}        
  
@keyframes dots {
       	0%   { opacity: 1; }
        50%  { opacity: 0.4;}
        100% { opacity: 1; }
} 



/*--------------------------------------------------------------------
		Some CSS for mobile
--------------------------------------------------------------------*/
@media only screen and (max-width: 767px)
{
	#header { position: relative; height: 45px; }
	#logo { padding: 0; } 	
	
}